fully quote all text fields

First of, this is a great resource! thank you for maintaining this repo!

**TLDR;** 
_Please fully quote the data in postcodes-nl.csv_


We do not use the supplied import script, since we need the data in a different dbms (SQL Server). 

I run in to an issue when importing the csv file, some of the fields are (sometimes) quoted, other times the text is there without quotes. This makes it harder to import, because the bulk import tooling expects either quoted or unquoted, not mixed text.

I expect most tools to accepted fully quoted data, so expect nothing would break if the postcodes-nl.csv would be fully quoted. Alternatively a second file containing a fully quoted version would obviously also work.

> because the bulk import tooling expects either quoted or unquoted, not mixed text.

Which bulk import tooling? I think it SQL Server's bulk insert does support that with CSV (RFC 4180) as FORMAT, see:

    BULK INSERT Postcodes
    FROM 'postcodes-nl.csv'
    WITH
    (
        FORMAT = 'CSV', 
        FIELDQUOTE = '"',
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',  --CSV field delimiter
        ROWTERMINATOR = '\n',   --Use to shift the control to next row
        TABLOCK
    )

source: https://learn.microsoft.com/en-us/sql/t-sql/statements/bulk-insert-transact-sql?view=sql-server-ver17

It is defined in RFC 4180 section 2, point 5:

> Each field may or may not be enclosed in double quotes

source: https://datatracker.ietf.org/doc/html/rfc4180#section-2

Alternatively, you can use the following csvkit command to add quotes:

    csvformat -U 1 postcodes-nl.csv

source: https://commandmasters.com/commands/csvformat-common/

In case you are using bcp: I dont think bcp supports CSV. I also know SMSS imports CSV just fine.


Thanks for the quick response!

I know it's correct CSV standards, and, yes, I'm using bulk insert.  Alas, older versions of SQL server do not yet support   FORMAT = 'CSV',  and FIELDQUOTE = '"' . 

For now, I use another (newer) SQL server as intermediate to import the data, and then push it to the server where I need it. So, I have a workaround. 

I might be the only one facing this issue, but I can imagine there are other implemtations that would benifit from a uniform format. 



> older versions of SQL server do not yet support FORMAT = 'CSV', and FIELDQUOTE = '"' .

For clarity of other readers: RFC compliant CSV import in SQL Server is supported from SQL Server 2017 (14.x) onwards (for 8 years already), so only SQL Server 2016 and below don't support RFC compliant CSV and the mainstream support for SQL Server 2016 (latest version without this CSV support) ended in 2021 (4 years ago).

See: https://learn.microsoft.com/en-us/lifecycle/products/sql-server-2016
Also: https://learn.microsoft.com/en-us/lifecycle/products/sql-server-2017

> So, I have a workaround.

Great! I closed the issue for now. If other people report issues, then I'll consider reopening.